* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: #0c0f1b;
}

body {
  margin: 25px 0;
  display: grid;
  place-items: center;
}

table {
  border-collapse: collapse;
}

.error {
  box-shadow:
    inset 0 0 0 2px red,
    inset 0 0 7px #f99       !important;
  text-shadow: 0 0 5px black !important;
}

td {
  border: 1px solid #999;
  color: #d8d8d8;
}
table tr > td:nth-child(3n):not(:last-child) {
  border-right-width: 3px;
  border-right-color: white;
}
table tr:nth-child(3n):not(:last-child) > td {
  border-bottom-width: 3px;
  border-bottom-color: white;
}

input {
  border: none;
  outline: none;

  background-color: #0000;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

input, span.solved-digit {
  text-align: center;
  font-size: 25px;
  font-weight: 300;

  display: grid;
  place-items: center;
  width: 37.5px;
  aspect-ratio: 1/1;
}

span.solved-digit.entered {
  color: white;
  font-weight: 700;
}


.buttons {
  display: flex;
}

button {
  margin: 10px;
  padding: 7px 10px;
  flex: auto;
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #1a213a;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.1s;
}
button:hover {
  transform: scale(103%);
}