* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0c0f1b;
}

body {
  margin: 25px auto;
  width: min-content;
}

table {
  width: 100%;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  color: #d8d8d8;
  font-size: 25px;
  font-weight: 300;
}
table, td {
  border: 1px solid #999;
  border-spacing: 0; 
  padding: 0;
}
table tr > td:nth-child(3n):not(:last-child) {
  border-right-width: 3px;
  border-right-color: white;
}
table tr:nth-child(3n):not(:last-child) > td {
  border-bottom-width: 3px;
  border-bottom-color: white;
}

input {
  width: 40px;
  height: 25px;
  font-size: 25px;
  border: none;
  text-align: center;
  background-color: #0000;
  color: white;
  outline: none;
}

.buttons {
  display: flex;
}
button {
  margin: 10px;
  padding: 7px;
  flex: auto;
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #1a213a;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.1s;
}

button:hover {
  transform: scale(103%);
}

.error {
  border: 3px solid red          !important;
  box-shadow: inset 0 0 7px #f99 !important;
  text-shadow: 0 0 5px black     !important;
}

b {
  color: white;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}