* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table, tr, td {
  border: 1px solid black;
  border-spacing: 0; 
  padding: 0;
}

td {
  width: 20px;
  height: 20px;
  text-align: center;
}

input {
  width: 20px;
  height: 20px;
  font-size: 15px;
  border: none;
  text-align: center;
  font-weight: bold;
}